{% extends 'base.html' %}

{% block title %}Все заявки{% endblock %}

{% block content_body %}
<div class="order-container">
    <h1 class="order-title">Список картин на экспертизу</h1>

    <div class="order-section">
        <!-- Название заявки -->
        <h2>{{ data.order_name }}</h2>

        <!-- Список картин в заказе -->
        <div class="order-items">
            {% for item in data.items %}
            <div class="order-item">
                <div class="item-image">
                    <img src="{{ item.painting.img_path }}" alt="{{ item.painting.title }}" class="painting-img"> 
                </div>
                
                <div class="item-details">
                    <h5>{{ item.painting.title }}</h5>
                    <p>Автор: {{ item.painting.author }}</p> <!-- Отображение автора картины -->
                    <a href="{% if item.painting.id %}{% url 'painting_detail' item.painting.id %}{% else %}#{% endif %}" class="item-more">Подробнее</a>

                    <!-- Комментарий к картине -->
                    <textarea id="comment_{{ item.id }}" name="comment_{{ item.id }}" rows="3" placeholder="Введите комментарий">{{ item.comment }}</textarea>
                </div>

                <div class="order-actions">
                    <form method="post" action="{% url 'delete_order_item' data.order_id item.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить картину</button>
                    </form>
                </div>
                    
            </div>
            {% endfor %}
        </div>

        <!-- Удаление всей заявки -->
        <form method="post" action="{% url 'delete_order' data.order_id %}">
            {% csrf_token %}
            <button class="btn btn-danger">Удалить </button>
        </form>
    </div>
</div>
{% endblock %}
