{% extends 'base.html' %}
{% load static %}

{% block title %}Список картин{% endblock %}

{% block content_head %}
<div class="container">
    <form method="get">
        <div class="painting_request_bar">
            <input type="text" name="painting_title" placeholder="Поиск по названию" value="{{ painting_request_query }}">
            <button type="submit" id="painting_request">
                <img src="{% static 'img/painting_request.png' %}" alt="Иконка поиска">
            </button>
        </div>
    </form>
    <div class="expertise_list {% if data.expertise_count == 0 %}inactive{% endif %}">
        {% if data.expertise_count > 0 %}
            <a href="{% url 'view_expertise' data.expertise_id %}">
                <img src="{% static 'img/cart.png' %}" alt="Корзина">
                <span class="expertise_count">{{ data.expertise_count }}</span>
            </a>
        {% else %}
            <span><img src="{% static 'img/cart.png' %}" alt="Корзина"></span>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content_body %}
<div class="container_cards">
    <div class="row">
        {% for painting in data.paintings %}
            <div class="card">
                <a href="{% url 'painting_detail' painting.id %}">
                    <img src="{{ painting.img_path }}" alt="{{ painting.title }}" class="card-img">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ painting.title }}</h5>
                    <p class="card-description">{{ painting.short_description }}</p>
                    <form method="post" action="{% url 'add_to_expertise' %}">
                        {% csrf_token %}
                        <button class="btn-add" name="add_to_expertise" value="{{ painting.id }}">Добавить</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
